/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/base";

body{
	font-family:Helvetica, sans-serif;
	background:url('/images/bg-text.png') top center no-repeat $bgColor;
	background-attachment:fixed;
}

body strong {font-weight:strong;}

a.logo {
	@include replace-text-with-dimensions('logo.jpg');
	position:fixed;
	top:36px;
	left:50%;
	margin-left:-464px;
}

a.arrow-rt {
	height:77px;
	width:46px;
	position:fixed;
	top:50%;
	right:50%;
	margin-right:-470px;
	background: url('/images/arrow-rt.jpg') no-repeat;
	background-position: 0 0;
	overflow:hidden;
	display:block;
	margin-top:-39px;
}

a.arrow-rt:hover {
	background-position: 0 -77px;
}

#page-holder {
	height:30px;
	width:100px;
	position:fixed;
	top:124px;
	left:50%;
	margin-left:-270px;

	a.page-title:link, a.page-title:active, a.page-title:visited, a.page-title:hover {
		color:$charcoal;
		font-size:26px;
		text-decoration:none;
		font-weight:bold;

	}
}

#main-content {
	width:651px;
	margin: 0 auto;
	padding-left:325px;

	#sub-nav {
		width:651px;
		height:28px;
		border-top: 1px solid $charcoal;
		margin-top:130px;

		ul.subnav {
			float:right;
			height:20px;
			float:right;
			padding-top:8px;

			li {
				height:20px;
				float:right;
				margin-left:12px;

				a.sub-link:link, a.sub-link:active, a.sub-link:visited {
					font-family:arial, helvetica, san-serif;
					font-size:14px;
					color:$charcoal;
					text-decoration:none;
					font-weight:bold;

					&:hover {
						color:$blue;
					}
				}  
			}
		}
	}

	ul.slides {
		width:651px;
			height: 900px;


		li.slide {

			width:651px;
			height: 900px;

			ul.planets {
				width:360px;
				margin-top:60px;

				li{
					width:360px;
					height: 45px;
					position:relative;
					float:left;
					margin-bottom:25px;
					overflow:hidden;


					.roll-trigger {
						width:360px;
						height: 45px;
						position:relative;
						top:0px;

							a.close-button {
								height:20px;
								width:18px;
								background: url('/images/close_button.png') top left no-repeat;
								position:absolute;
								top:8px;
								right:10px;
								display:none;
							}
					}

					div.back-anim {
						width:0px;
						display:none;
						height:45px;
						background-color:$blue;
						position:absolute;
						top:0px;
						left:0px;
					}

					div.info {
						width:360px;
						height:45px;
						position:absolute;
						top:0px;
						left:0px;

						a.filler {
							height:45px;
							width:360px;
							text-decoration:none;
						}

						h2 {
							font-family:arial, helvetica, san-serif;
							font-size: 30px;
							font-weight:bold;
							color: #FFF;
						}

						h3 {
							font-family:arial, helvetica, san-serif;
							font-size: 11px;
							font-weight:bold;
							color: $ltgrey;
						}

					}

					div.expanded {
						height:720px;
						width:360px;
						background:#000;
						position:relative;



						div.image-holder {
							position:relative;

							a.expand-image {
								position:absolute;
								height:31px;
								width:31px;
								background: url('/images/expand-image.jpg') top left no-repeat;
								display:block;
								right:0px;
								bottom:0px;
								display:none;

							}

						}

						ul.info {
							width:340px;
							padding-left:10px;
							padding-right:10px;
							padding-top:20px;

							li {
								font-size:12px;
								width: auto;
								height: auto;
								float:none;
								margin-bottom:7px;
								color:#FFF;

								ul {
									padding-left:20px;
									padding-top:5px;
								}

								strong {
									font-weight:bold;
									color:$ltgrey;
								}

								h3 {
									font-size:18px; 
									font-weight:bold;
									margin-bottom:10px;
									color:$ltgrey;

								}
							}

						}
					}



				}
			}

		}

	}
}




