/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/base";

body{
	font-family:Helvetica, sans-serif;
	background:url('/images/bg-text.png') top center no-repeat $bgColor;
	background-attachment:fixed;
}

body strong {font-weight:strong;}

a.logo {
	@include replace-text-with-dimensions('logo.jpg');
	position:fixed;
	top:36px;
	left:50%;
	margin-left:-475px;
	cursor: pointer;
}

a{
	color:$blue;
	text-decoration:none;
}

.clear {
	clear:both;
}

.blue{
	color:$blue;
}

.ltgrey{
	color:$ltgrey;
}
a.arrow-rt {
	height:77px;
	width:46px;
	position:fixed;
	top:50%;
	right:50%;
	margin-right:-470px;
	background: url('/images/arrow-rt.jpg') no-repeat;
	background-position: 0 0;
	overflow:hidden;
	display:block;
	margin-top:-39px;
}

a.arrow-lt {
	height:77px;
	width:46px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-470px;
	background: url('/images/arrow-lt.jpg') no-repeat;
	background-position: 0 0;
	overflow:hidden;
	display:block;
	margin-top:-39px;
	display:none;
}

a.arrow-rt:hover {
	background-position: 0 -77px;
}

a.arrow-lt:hover {
	background-position: 0 -77px;
}

#page-holder {
	height:50px;
	width:150px;
	position:fixed;
	text-align:right;
	top:222px;
	left:50%;
	margin-left:-440px;
	color:$charcoal;
	font-size:28px;
	text-decoration:none;
	font-weight:bold;
	overflow:hidden;

	div {
		position:relative;
		top:0px;
		padding-right:5px;
	}


}

#descrip {
	width:190px;
	position:fixed;
	left:50%;
	top:300px;
	margin-left:-470px;
	text-align:right;

	p {
		font-size:13px;
		line-height:17px;
		color:#FFF;
	}
}

#main-content {
	width:651px;
	margin: 0 auto;
	padding-left:325px;

	#welcome {
			width:460px;
			margin-bottom:50px;

			h2 {
				font-size:60px;
				color:#FFF;
				font-weight:bold;
				margin-bottom:20px;
			}

			p {
				font-size:13px;
				line-height:19px;
				color:#FFF;
				font-style:italic;
			}

		}

	#sub-nav {
		width:651px;
		height:28px;
		border-top: 1px solid $charcoal;
		margin-top:130px;

		ul.subnav {
			float:right;
			height:20px;
			float:right;
			padding-top:8px;

			li {
				height:20px;
				float:right;
				margin-left:12px;

				a.sub-link:link, a.sub-link:active, a.sub-link:visited {
					font-family:arial, helvetica, san-serif;
					font-size:14px;
					color:$charcoal;
					text-decoration:none;
					font-weight:bold;

					&:hover {
						color:$blue;
					}
				}  
			}
		}
	}

	#overflow {
		width:651px;
		overflow:hidden;
	

		ul.slides {
			width:3051px;
			/*height: 900px;*/
			position:relative;
			left:0px;
			margin-top:60px;
			overflow:hidden;


			li.slide {

				width:651px;
				float:left;
				color:#FFF;
				


				ul.planets {
					width:360px;

					li{
						width:360px;
						height: 45px;
						position:relative;
						float:left;
						margin-bottom:25px;
						overflow:hidden;


						.roll-trigger {
							width:360px;
							height: 45px;
							position:relative;
							top:0px;

								a.close-button {
									height:20px;
									width:18px;
									background: url('/images/close_button.png') top left no-repeat;
									position:absolute;
									top:8px;
									right:0px;
									display:none;
								}
						}

						div.back-anim {
							width:0px;
							display:none;
							height:45px;
							background-color:$blue;
							position:absolute;
							top:0px;
							left:0px;
						}

						div.info {
							width:360px;
							height:45px;
							position:absolute;
							top:0px;
							left:0px;

							a.filler {
								height:45px;
								width:360px;
								text-decoration:none;
							}

							h2 {
								font-family:arial, helvetica, san-serif;
								font-size: 30px;
								font-weight:bold;
								color: #FFF;
							}

							h3 {
								font-family:arial, helvetica, san-serif;
								font-size: 11px;
								font-weight:bold;
								color: $ltgrey;
							}

						}

						div.expanded {
							height:720px;
							width:360px;
							background:#000;
							position:relative;



							div.image-holder {
								position:relative;

								a.expand-image {
									position:absolute;
									height:31px;
									width:31px;
									background: url('/images/expand-image.jpg') top left no-repeat;
									display:block;
									right:0px;
									bottom:0px;
									display:none;

								}

							}

							ul.info {
								width:340px;
								padding-left:10px;
								padding-right:10px;
								padding-top:20px;

								li {
									font-size:12px;
									width: auto;
									height: auto;
									float:none;
									margin-bottom:7px;
									color:#FFF;

									ul {
										padding-left:20px;
										padding-top:5px;
									}

									strong {
										font-weight:bold;
										color:$ltgrey;
									}

									h3 {
										font-size:18px; 
										font-weight:bold;
										margin-bottom:10px;
										color:$ltgrey;

									}
								}

							}
						}



					}
				}

				#docs, #about-slide {
					width:460px;

					h2 {
						font-family:arial, helvetica, san-serif;
						font-size: 30px;
						font-weight:bold;
						color: #FFF;
						margin-bottom:10px;
					}

					p {
						font-family:arial, helvetica, san-serif;
						font-size: 14px;
						line-height:19px;
						color: $ltgrey;
						margin-bottom:20px;
						clear:both;

						.code {
							font-weight:bold;
							color:#FFF;
						}
					}

					img{
						border:1px solid $ltgrey;
						float:left;
						margin-right:10px;
					}

				}

			}

		}

	}
}




