<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
The HTML5 Herald
		</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		<link rel="stylesheet" href="/css/style.css" type=
		"text/css">
	</head>
	<body>
		<!--BEGIN MAIN BLOCK CONTENT -->
		<div id="main-content"></div><a class="logo"></a>
		<script src="/js/app.js" type="text/javascript">
</script>
	<ul id="api-tags">
		<li class="selected">name</li>
		<li class="selected">id</li>
		<li class="selected">discoverymethod</li>
		<li class="deselected">properties:all</li>
		<li class="selected">properties:mass</li>
		<li class="selected">properties:radius</li>
		<li class="selected">properties:orbit:period</li>
		<li class="selected">properties:orbit:semimajoraxis</li>
		<li class="deselected">properties:orbit:eccentricity</li>
		<li class="selected">properties:orbit:inclination</li>
		<li class="selected">star:all</li>
		<li class="selected">star:spectraltype</li>
		<li class="selected">star:mass</li>
		<li class="selected">star:radius</li>
		<li class="selected">star:metallicity</li>
		<li class="selected">star:rightascension</li>
		<li class="selected">star:declination</li>
		<li class="selected">star:angulardistance</li>
		<li class="selected">star:distance</li>
		<li class="selected">star:magV</li>
		<li class="selected">star:magI</li>
		<li class="selected">star:magH</li>
		<li class="selected">star:magJ</li>
		<li class="selected">star:magK</li>
		<li class="selected">multiplicity</li>
		<li class="selected">discoveryyear</li>
		<li class="selected">lastupdate</li>
		<li class="selected">description</li>
		<li class="selected">new</li>
		<li class="selected">image</li>
		<li class="selected">imagedescription</li>
	</ul>
	</body>
</html>
