<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">  
  <title>The HTML5 Herald</title>  
  <meta name="description" content="The HTML5 Herald">  
  <meta name="author" content="SitePoint">  
  <link rel="stylesheet" href="/css/style.css">  

</head>  
<body> 

<!--BEGIN MAIN BLOCK CONTENT -->
<div id="main-content">

</div>	


<a class="logo"></a>
<script src="/js/app.js"></script>
</body>  
</html>  