<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">  
  <title>Interactive Console</title>  
  <meta name="description" content="The HTML5 Herald">  
  <meta name="author" content="SitePoint">  
  <link rel="stylesheet" href="/css/style.css">  
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){




  });
  </script>
</head>  
<body>  


	http://localhost:9088/api/planets <input type="text" />


</body>  
</html>  