/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors
------------------------------------------------------------ */
/* line 9, ../sass/style.scss */
body {
  font-family: Helvetica, sans-serif;
  background: url("/images/bg-text.png") top center no-repeat #1b1818;
  background-attachment: fixed;
}

/* line 15, ../sass/style.scss */
a.logo {
  width: 192px;
  height: 116px;
  background: url("/images/logo.jpg") top left;
  display: block;
  position: fixed;
  top: 36px;
  left: 50%;
  margin-left: -464px;
}

/* line 26, ../sass/style.scss */
#main-content {
  width: 651px;
  margin: 0 auto;
  padding-left: 325px;
}
/* line 31, ../sass/style.scss */
#main-content #sub-nav {
  width: 651px;
  height: 28px;
  border-top: 1px solid #453e3e;
  margin-top: 130px;
}
/* line 37, ../sass/style.scss */
#main-content #sub-nav ul.subnav {
  float: right;
  height: 20px;
  float: right;
  padding-top: 8px;
}
/* line 43, ../sass/style.scss */
#main-content #sub-nav ul.subnav li {
  height: 20px;
  float: right;
  margin-left: 12px;
}
/* line 48, ../sass/style.scss */
#main-content #sub-nav ul.subnav li a.sub-link:link, #main-content #sub-nav ul.subnav li a.sub-link:active, #main-content #sub-nav ul.subnav li a.sub-link:visited {
  font-family: arial, helvetica, san-serif;
  font-size: 14px;
  color: #453e3e;
  text-decoration: none;
  font-weight: bold;
}
/* line 55, ../sass/style.scss */
#main-content #sub-nav ul.subnav li a.sub-link:link:hover, #main-content #sub-nav ul.subnav li a.sub-link:active:hover, #main-content #sub-nav ul.subnav li a.sub-link:visited:hover {
  color: #269bdf;
}
/* line 63, ../sass/style.scss */
#main-content ul.planets {
  width: 360px;
  margin-top: 60px;
}
/* line 67, ../sass/style.scss */
#main-content ul.planets li.roll-trigger {
  width: 360px;
  height: 45px;
  position: relative;
  float: left;
  margin-bottom: 25px;
}
/* line 74, ../sass/style.scss */
#main-content ul.planets li.roll-trigger div.back-anim {
  width: 360px;
  display: none;
  height: 0px;
  position: relative;
  background-color: #269bdf;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 85, ../sass/style.scss */
#main-content ul.planets li.roll-trigger div.info {
  width: 360px;
  height: 45px;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 92, ../sass/style.scss */
#main-content ul.planets li.roll-trigger div.info a.filler {
  height: 45px;
  width: 360px;
  text-decoration: none;
}
/* line 98, ../sass/style.scss */
#main-content ul.planets li.roll-trigger div.info h2 {
  font-family: arial, helvetica, san-serif;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
}
/* line 105, ../sass/style.scss */
#main-content ul.planets li.roll-trigger div.info h3 {
  font-family: arial, helvetica, san-serif;
  font-size: 11px;
  font-weight: bold;
  color: #787070;
}
