$perspective: 400px;

.sub-link{
	display:inline-block;
	overflow:hidden;
	vertical-align:top;
	padding-top:3px;
	-webkit-perspective:$perspective;
	-moz-perspective:$perspective;
	-o-perspective:$perspective;
	perspective:$perspective;}

.sub-link span{
	height:45px;
	display:block;
	position:relative;
	padding:0 2px;
	color:$white;
	background:$bgColor;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	-o-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

.sub-link:hover span{
	background:#ccc;-webkit-transform:translate3d(0px,0px,-30px) rotateX(90deg);
	-moz-transform:translate3d(0px,0px,-30px) rotateX(90deg);
	-o-transform:translate3d(0px,0px,-30px) rotateX(90deg);
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}

.sub-link span:after{
	padding-top:3px;
	height:45px;
	content:attr(data-title);
	display:block;position:absolute;
	left:0;
	top:0;
	padding:0 2px;
	color:$white;
	background:$blue;
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;-o-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-moz-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-o-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
}